[user]
    name = Sergey Trofimov
    email = sarg@sarg.org.ru
    signingKey = 3ADB423B40A20785

[commit]
    gpgSign = true

[push]
    default = simple

[sendemail]
    smtpServer = /home/sarg/.guix-home/profile/bin/msmtp

[credential]
    helper = cache --timeout 21600  # six hours
    helper = oauth
