[user]
    name = Sergey Trofimov
    email = sarg@sarg.org.ru
    signingKey = 3ADB423B40A20785

[commit]
    gpgSign = true

[push]
    default = simple

[sendemail]
    smtpServer = /home/sarg/.guix-home/profile/bin/msmtp

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"

[url "git@codeberg.org:"]
  pushInsteadOf = "https://codeberg.org/"

[url "git@gitlab.com:"]
  pushInsteadOf = "https://gitlab.com/"
