config/*
.peru/
awesome/.config/awesome/themes/
awesome/.config/awesome/tyrannical/
awesome/.config/awesome/collision/
awesome/.config/awesome/redshift/
vim/.emacs.d
emacs/.emacs.d
fonts/.local
bootstrap.sh
rawdog/
xmonad/.xmonad/xmonad*
!xmonad/.xmonad/xmonad.hs
