config/*
.peru/
awesome/.config/awesome/themes/
awesome/.config/awesome/hints/
awesome/.config/awesome/redshift/
vim/.emacs.d
fonts/.local
bootstrap.sh
rawdog/
xmonad/.xmonad/xmonad*
!xmonad/.xmonad/xmonad.hs
