set gdefault
set ignorecase

inoremap jk <Esc>

# linenumbers
set rnu

nmap ; :

let mapleader=" "

# goto actions
nnoremap <leader>gd :action GotoDeclaration<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gl :action FileStructurePopup<cr>
nnoremap <leader>gb :action Back<cr>
nnoremap <leader>gf :action Forward<cr>
nnoremap <leader>gc :action GotoClass<cr>

nnoremap <leader>ff :action GotoFile<cr>

# actions
nnoremap <leader>d :action CloseContent<CR>

# select paste in visual mode
nnoremap gp `[v`]

# hybrid mode
inoremap <c-b> <left>
inoremap <c-f> <right>
inoremap <c-a> <Esc>I
inoremap <c-e> <End>

# refactoring
nnoremap <leader>riv :action IntroduceVariable<CR>
nnoremap <leader>ric :action IntroduceConstant<CR>
nnoremap <leader>rif :action IntroduceField<CR>

# search
nnoremap <leader><space> :action emacsIDEAs.AceJumpWord<CR>