inoremap jk <Esc>
set rnu
nmap ; :

let mapleader " "
nmap <leader>gg :action GotoDeclaration<cr>
nmap <leader>gb :action Back<cr>
nmap <leader>gf :action Forward<cr>

nmap <leader>gt :action GotoFile<cr>
nmap <leader>gc :action GotoClass<cr>
